<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h1>Sign-up form</h1>
<p>Submit a request to get a bank account</p>
<form method="POST" action="{% url 'application_status' %}">
    <table>
        <tr>
            <td><label for="first_name">First name:</label></td>
            <td><label for="last_name">Last name:</label></td>
        </tr>
        <tr>
            <td><input type="text" id="first_name" name="first_name"></td>
            <td><input type="text" id="last_name" name="last_name"></td>
        </tr>
        <tr>
            <td><label for="initial_deposit">Amount of initial deposit:</label></td>
        </tr>
        <tr>
            <td><input type="text" id="initial_deposit" name="initial_deposit"></td>
        </tr>
        <tr>
            <td><label for="account_type">Account type:</label></td>
        </tr>
        <tr>
            <td>
                <input type="radio" id="checking" name="account_type" value="checking">
                <label for="checking">Checking</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" id="saving" name="account_type" value="saving">
                <label for="saving">Saving</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" id="money_market" name="account_type" value="money_market">
                <label for="money_market">Money market</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="submit" value="Submit">
            </td>
        </tr>
    </table>
    {% csrf_token %}
</form>

</body>
</html>
