<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h1>Sign-up form</h1>
<p>Submit a request to get a bank account</p>
<form method="POST" action="{% url 'application_status' %}">
    <label for="first_name">First name:</label><br>
    <input type="text" id="first_name" name="first_name"><br>
    <label for="last_name">Last name:</label><br>
    <input type="text" id="last_name" name="last_name"><br><br>

    <label for="initial_deposit">Amount of initial deposit:</label><br>
    <input type="text" id="initial_deposit" name="initial_deposit"><br><br>

    <label for="account_type">Account type:</label><br>
    <input type="radio" id="checking" name="account_type" value="checking">
    <label for="checking">Checking</label><br>
    <input type="radio" id="saving" name="account_type" value="saving">
    <label for="saving">Saving</label><br>
    <input type="radio" id="money_market" name="account_type" value="money_market">
    <label for="money_market">Money market</label><br><br>

    <input type="submit" id="submit" value="Submit">
    {% csrf_token %}
</form>

</body>
</html>
